<h1>Dojo Activity Center - Welcome @ViewBag.firstname!</h1>
<a href="logout">Log off</a>

<table class="table">
    <tr>
        <th>Activity</th>
        <th>Date and Time</th>
        <th>Duration</th>
        <th>Event Coordinator</th>
        <th>Number of Participants</th>
        <th>Actions</th>
    </tr>
    @foreach(var thisactivity in ViewBag.allactivities)
    {
        <tr>
            <td><a href="activity/@thisactivity.ActivityID">@thisactivity.Title</a></td>
            <td>@thisactivity.Date.ToString("MM/dd") & @thisactivity.Time </td>
            @if(thisactivity.Duration <= 60)
            {
                <td>@thisactivity.Duration Minutes</td>
            }
            else if(thisactivity.Duration <= 1440)
            {   
                int duration = thisactivity.Duration/60;
                <td>@duration Hour(s)</td>
            }
            else
            {
                int duration = thisactivity.Duration/1440;
                <td>@duration Day(s)</td>
            }
        
            <td>event coordinator: @thisactivity.Coordinator</td>
           

            <td>Count: @thisactivity.ActivityToUser.Count</td>
           
            <td>
                @if(thisactivity.UserID == @ViewBag.sessionid)
                {
                    <a href="delete/@thisactivity.ActivityID">Delete</a>
                }
                @if(thisactivity.ActivityToUser.Count == 0)
                {
                    <a href="join/@thisactivity.ActivityID/@ViewBag.sessionid">Join</a>
                    
                }
                @if(thisactivity.ActivityToUser.Count > 0)
                {
                    bool join = false;
                    int partid = 0;
                    @foreach(var Y in thisactivity.ActivityToUser)
                    {
                        @if(Y.UserID == @ViewBag.sessionid)
                        {
                            join = true;
                            partid = Y.ParticipateID;
                        }
                    }
                    @if( join == true)
                    {
                        <a href="leave/@partid">Leave</a>
                    }
                    @if( join == false)
                    {
                        <a href="join/@thisactivity.ActivityID/@ViewBag.sessionid">Join</a>
                    }
                }
            </td>
        </tr>
    }
</table>



<a href="NewActivity"><button>New Activity</button></a>